<section class="flex flex-col justify-center items-center w-full h-screen bg-kva-950 text-white md:space-y-6 space-y-10 p-10 md:p-2">
	<img src="img/404.svg" class="w-full md:w-72" alt="Error 404">
    <h1 class="tracking-[6px] font-bold text-4xl">PAGE NOT FOUND</h1>
    <p class="font-semibold text-2xl md:text-xl text-center md:text-start">Oops! The page you are looking for does not exist. It might have been moved or deleted.</p>
	<a href="/" class="font-semibold bg-kva-500 px-8 py-4 text-2xl md:text-base">Back to home</a>
</section>