<section class="flex flex-col justify-center items-center w-full h-screen bg-kva-950 text-white space-y-6">
	<img src="img/404.svg" class="w-72" alt="Error 404">
    <h1 class="tracking-[6px] font-bold text-4xl">PAGE NOT FOUND</h1>
    <p class="font-semibold text-xl">Oops! The page you are looking for does not exist. It might have been moved or deleted.</p>
	<a href="/" class="font-semibold bg-kva-500 px-8 py-4 text-base">Back to home</a>
</section>