---
interface Props {
    text: string;
    link: string;
    styles?: string;
}

const {text, link, styles = ''} = Astro.props;
---

<a href={link} class=`${styles} bg-kva-500 px-8 py-3 text-lg text-white max-w-fit`>{text}</a>