---
import { data } from '#lib/data.ts'
const {img} = Astro.props
---

<div class="overflow-hidden w-full h-full rounded-2xl relative group">
    <div class="w-full h-full bg-gradient-to-b from-transparent to-kva-950/80 absolute translate-y-1/4 group-hover:translate-y-0 transition-all duration-700 z-10"></div>
    <img src={`/img/${img}`} loading="lazy" alt={`Service offer by ${data.title}`} class="w-full h-full object-cover group-hover:scale-125 transition-all duration-700 group-hover:rotate-6">
    <h3 class="absolute bottom-5 left-5 text-gray-100 group-hover:text-white text-2xl z-20 font-semibold">Service name</h3>
</div>