
---
import { data } from '#lib/data.ts';
import Socials from "#components/Socials.astro";
import Button from '#components/Button.astro';
import FacebookIcon from '#icons/FacebookIcon.astro';
import InstagramIcon from '#icons/InstagramIcon.astro';
import YoutubeIcon from '#icons/YoutubeIcon.astro';
const footerNavs = [
    {
        name: 'About us',
        link: '/'
    },
    {
        name: 'Services',
        link: '/'
    },
    {
        name: 'Terms',
        link: '/'
    },
    {
        name: 'Privacy',
        link: '/'
    }
];
---

<footer class="pt-10 bg-kva-950">
    <div class="max-w-screen-xl mx-auto px-4 text-white md:px-8">
        <div class="justify-between sm:flex">
            <div class="space-y-6">
                <img src="logo-white.webp" class="w-60" loading="lazy" />
                <p class="max-w-md">
                    Elevate Your Home with Quality Services: Repairs, Plumbing, Electrical Work, and More, All Budget-Friendly.
                </p>
                <div>
                    <ul class="flex flex-wrap items-center gap-4 text-sm sm:text-base mt-14">
                        {
                            footerNavs.map((item, idx) => (
                                <li class="text-gray-300 hover:text-white duration-150">
                                    <a href={item.link}>
                                        {item.name}
                                    </a>
                                </li>
                            ))
                        }
                    </ul>
                </div>
            </div>
            <div class="mt-6">
                <p class="text-white font-semibold text-3xl">How long will you wait?</p>
                <div class="flex items-end gap-3 mt-5 flex-col">
                    <Button text="Get Quote now" link="sms:+123456789?body=Hola,%20¿cómo%20estás?" />
                    <Button text="Get Quote now" link="mailto:tuemail@example.com?subject=Asunto del correo&body=Hola,%20¿cómo%20estás?" />
                </div>
                <ul class="flex gap-x-4 [&>li]:flex [&>li]:gap-x-1 [&>li]:items-center items-center mt-5 justify-end">
                    <Socials />
                </ul>
            </div>
        </div>
        <div class="mt-10 py-10 border-t border-gray-100/10 md:text-center">
            <p>© {new Date().getFullYear()} {data.title}.</p>
        </div>
    </div>
</footer>