---
import EmailIcon from "./icons/EmailIcon.astro"

const articles = [
    {
        title: 'Book Online',
        description: 'Nullam consequat ex magna, ut facilisis mi fringilla tristi. Uncut sollicitudin.'
    },
    {
        title: 'Book Online',
        description: 'Nullam consequat ex magna, ut facilisis mi fringilla tristi. Uncut sollicitudin.'
    },
    {
        title: 'Book Online',
        description: 'Nullam consequat ex magna, ut facilisis mi fringilla tristi. Uncut sollicitudin.'
    },
    {
        title: 'Book Online',
        description: 'Nullam consequat ex magna, ut facilisis mi fringilla tristi. Uncut sollicitudin.'
    },
    {
        title: 'Book Online',
        description: 'Nullam consequat ex magna, ut facilisis mi fringilla tristi. Uncut sollicitudin.'
    },
    {
        title: 'Book Online',
        description: 'Nullam consequat ex magna, ut facilisis mi fringilla tristi. Uncut sollicitudin.'
    }
]
---

<section class="flex items-center flex-col w-full px-10 py-32 bg-[url(img/background-why.webp)] bg-no-repeat bg-cover bg-center">
    <header class="space-y-4">
        <h2 class="text-center uppercase text-gray-700 tracking-[6px] text-base font-semibold">People Trust</h2>
        <h1 class="capitalize text-center text-5xl font-bold text-kv-900">Why we are best</h1>
    </header>
    <div class="grid grid-cols-3 mt-16 px-16 gap-14">
        { articles.map(article => (
            <article class="flex items-center justify-center gap-x-6">
                <div>
                    <EmailIcon size={80} styles="text-gray-400/40" />
                </div>
                <div class="space-y-4 max-w-64">
                    <h3 class="text-2xl font-semibold">{ article.title }</h3>
                    <p class="text-kv-900 text-base font-medium">{ article.description }</p>
                </div>
            </article>
        )) }
    </div>
</section>