---
import PeopleIcon from "#icons/PeopleIcon.astro"
import BrainIcon from "#icons/BrainIcon.astro"
import CoinsIcon from "#icons/CoinsIcon.astro"
import SpeedTestIcon from "#icons/SpeedTestIcon.astro"
import ChatIcon from "#icons/ChatIcon.astro"
import AwardIcon from "#icons/AwardIcon.astro"

const articles = [
    {
        title: 'Professional Team',
        description: 'Experienced experts dedicated to delivering top-notch results.',
        icon: PeopleIcon
    },
    {
        title: 'Affordable Prices',
        description: 'Competitive rates tailored to your budget and needs.',
        icon: CoinsIcon
    },
    {
        title: 'Speed',
        description: 'Efficient and prompt service to meet your deadlines.',
        icon: SpeedTestIcon
    },
    {
        title: 'Experience',
        description: 'Years of proven expertise in our field.',
        icon: BrainIcon
    },
    {
        title: 'Feedback',
        description: 'Continuous improvement through valuable client input.',
        icon: ChatIcon
    },
    {
        title: 'Guaranteed Satisfaction',
        description: 'Confidence in our services with your complete satisfaction.',
        icon: AwardIcon
    }
];
---

<section class="flex items-center flex-col w-full px-2 md:px-10 py-32 bg-no-repeat bg-cover bg-center" style="background-image: url('img/background-why.webp');">
    <header class="space-y-4">
        <h2 class="text-center uppercase text-gray-700 tracking-[6px] text-base md:text-lg font-semibold">Guaranteed security</h2>
        <h1 class="capitalize text-center text-3xl md:text-5xl font-bold text-kva-900">Why are we your best option?</h1>
    </header>
    <div class="grid grid-cols-1 md:grid-cols-3 mt-16 md:px-16 px-6 gap-6 md:gap-14">
        { articles.map(({title, description, icon: Icon}) => (
            <article class="flex items-center justify-center gap-x-6 animate-zoom">
                <div>
                    <Icon size={60} styles="text-gray-300" />
                </div>
                <div class="space-y-4 md:max-w-72">
                    <h3 class="text-2xl font-semibold">{ title }</h3>
                    <p class="text-kva-900 text-base font-medium text-pretty md:max-w-64">{ description }</p>
                </div>
            </article>
        )) }
    </div>
</section>